<!DOCTYPE html>
<html>
@using Microsoft.AspNetCore.Identity
@using TextToMotionWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Text to Motion</title>

        <environment names="Development">
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />

            <script src="~/lib/knockout/dist/knockout.js"></script>
        </environment>
        <environment names="Staging, Production">
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />

            <script src="~/lib/knockout/dist/knockout.js"></script>
        </environment>
        @RenderSection("preloaded", required: false)
    </head>
    <body class="grey lighten-4">
        <div class="page-flex-box-wrapper">
            <header>
                <nav>
                    <div class="nav-wrapper row black">
                        <div class="col s12">
                            <a href="/" class="brand-logo padded-from-left heading-font"><b>Text-To-Motion</b></a>
                            <a data-activates="mobile-nav" class="button-collapse cursorPointer">
                                <i class="fa fa-bars"></i>
                            </a>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @await Html.PartialAsync("AuthorizedNavLinks")
                                <div class="nav-transition padded-from-top">
                                    <p>@UserManager.GetUserName(User)</p>
                                </div>

                            }
                            else
                            {
                                @await Html.PartialAsync("NavLinks")
                            }
                        </div>
                    </div>
                </nav>
            </header>
            <main>
                @RenderBody()
                <br /><br />
            </main>
            <div class="nav-transition grey lighten-1"></div>
            <footer class="page-footer grey darken-4">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul id="slide-out" class="side-nav">
                        <li>
                            <div class="userView">
                                <img class="circle user-avatar-img" src="https://robohash.org/@UserManager.GetUserName(User)">
                                <h5 class="center-align">@UserManager.GetUserName(User)</h5>
                                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="card-panel grey lighten-2">
                                <div class="card-content">
                                    <form method="post" action="/User/SaveName">
                                        <div class="input-field col s12 padded-from-bot">
                                            <input type="text" name="first_name" required />
                                            <label>First Name</label>
                                        </div>
                                        <div class="input-field col s12 padded-from-top">
                                            <input type="text" name="last_name" required/>
                                            <label>Last Name</label>
                                        </div>
                                        <br />
                                        <div>
                                            <a class="btn waves-effect green darken-1"><i class="fa fa-edit"></i> Save Changes</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                <br>
            </footer>

        </div>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging, Production">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        @RenderSection("scripts", required: false)
        <script>
            $(document).ready(function () {
                $(".button-collapse").sideNav();
                $('.side-nav-trigger').sideNav();
                $(".dropdown-button").dropdown();

           });
        </script>
    </body>
</html>
